*{
    margin: 0px;
}
h1{
    color:white;
    text-align: center;
    background-color: blue;
}
h2{
    color: rgb(12, 12, 24);
    text-align: center;
}

.banner{
    background-image: url("karunya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid blue;
    width: 100%;
    height: 600px;

}
.about{
    background-color: bisque;
}
.about h3{
    color: rgb(12, 12, 24);
    text-align: center;
    font-size:  25px;
}
.about p{
    text-align: justify;
    padding: 14px;
    font-size: 18px;
}

.box1{
    height: 300px;
    width: 33.33%;
    background-image: url('cse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}

.box1 h2{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    position:relative;
    width: 100%;
}
.box1 h2:hover{
    opacity: 1;
}
.box2{
    height: 300px;
    width: 33.33%;
    background-image: url('library.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    position: relative;
}
.box2 h2{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    position: absolute;
    width: 95.5%;
    bottom: 0px;
}
.box2 h2:hover{
    opacity: 1;
}
.box3{
    height: 300px;
    width: 33.33%;
    background-image: url('cyber.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
   
}


.box3 h2{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    position:justify-content;
    width: 96%;
    
}
.box3 h2:hover{
    opacity: 1;
    
}
.box4{
    width: 50%;
    height: 350px;
    float: left;
    background-color: bisque;

}
.box4 h4{
    font-size:  25px;
    width: 80%;
    margin-left: 80px;
    margin-top: 80px;
    

}
.box4 p{
    margin: 0 80px;
    margin-top: 10px;
    font-size: 20px;
    text-align: justify;
}

.box5{
    background-image: url("https://karunya.edu/sites/default/files/img/site/campus-life/front-campus-life-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 350px;
    float: left;

}

.box6{
    background-image: url("https://karunya.edu/sites/default/files/img/technology-mission/drone-for-agri.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    width: 50%;
    height: 400px;
    float: left;
    background-color: bisque;

}
.box7 h4{
    font-size:  25px;
    width: 80%;
    margin-left: 80px;
    margin-top: 80px;
    

}
.box7 p{
    margin: 0 80px;
    margin-top: 10px;
    font-size: 20px;
    text-align: justify;
}
.form{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 50%;
    height: 80%;
    background-color: white;
}

.form p{
    width: 100%;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.form label{
    width: 100%;
    height: 30px;
}

label,input{
    display: block;
}

input[type=text]{
    width: 93%;
    height: 26px;
    font-size: 18px;
    color: black;
    padding: 10px;
    border: 3px solid #b5b5b5;
    border-radius: 8px;
    margin-bottom: 5px;
    outline: none;
}

/* Pseudo class */
input[type=text]:focus{
    background-color: white;
    border: 3px solid #3675c8;
    box-shadow: 0 0 10px #5793db;
}

input[type=password]{
    width: 93%;
    height: 26px;
    font-size: 18px;
    color: black;
    padding: 10px;
    background-color: #d3d3d3;
    border: 3px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
}

/* Pseudo class */
input[type=password]:focus{
    background-color: white;
    border: 3px solid #3675c8;
    box-shadow: 0 0 10px #5793db;
}

input[type=submit]{
    width: 100%;
    height: 46px;
    font-size: 18px;
    background-color: #0166fe;
    border: 3px solid #0c5ccf;
    border-radius: 5px;
    margin-top: 45px;
    color: white;
}